@import "../../assets/sass/main.scss";

//desktop
.allposts-container {
  width: 40%;
  height: 100%;
  .allposts-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.222vmax;
  }
  .allposts-box {
    height: 700px;
    overflow: hidden;
    .post-caption {
      //width: 100%;
      height: 150px;
      background-color: $cat-bg;
      padding: 2.222vmax 6.944vmax 1.736vmax 2.222vmax;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .ftpost-label {
        @include label-txt;
        margin-bottom: 8px;
        .span {
          color: $span;
        }
      }
      &.post-caption:hover {
        background-color: $author-bg-hover;
        cursor: pointer;
      }
    }
  }
  .allposts-box:hover{
    overflow-y: scroll;
  }
}


//mobile
@media screen and (max-width: $mobile){
  .allposts-container {
    min-width: $xs-mobile;
    width: 100%;
    max-width: $mobile;
    height: auto;
    .allposts-box {
      .post-caption {
        height: 150px;
      }
    }
  }
}


//6.944vw

//backup
// .allposts-container {
//   width: 40%;
//   height: auto;
//   .allposts-title {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 32px;
//   }
//   .allposts-box {
//     height: 600px;
//     overflow: hidden;
//     .post-caption {
//       //width: 100%;
//       height: auto;
//       background-color: $cat-bg;
//       padding: 32px 100px 25px 32px;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       .ftpost-label {
//         @include label-txt;
//         margin-bottom: 8px;
//         .span {
//           color: $span;
//         }
//       }
//       &.post-caption:hover {
//         background-color: $author-bg-hover;
//         cursor: pointer;
//       }
//     }
//   }
//   .allposts-box:hover{
//     overflow-y: scroll;
//   }
// }