@import "../../assets/sass/main.scss";

//DESKTOP MIN 1440PX
.allposts-container {
  width: 40%;
  height: 100%;
  .allposts-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.222vw;
    .link-color{
      color: $span;
    }
    .link-color:visited,.link-color:active{
      color: $span;
    }
    .link-color:hover{
      color: $span;
      text-decoration: underline;
    }
  }
  .allposts-box {
    height: 700px;
    overflow: hidden;
    .post-caption {
      height: 150px;
      background-color: $cat-bg;
      padding: 1.111vw;
      margin-bottom: 2.222vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .ftpost-label {
        @include label-txt;
        margin-bottom: 8px;
        .span {
          color: $span;
        }
      }
      &.post-caption:hover {
        background-color: $author-bg-hover;
        cursor: pointer;
      }
    }
  }
  .allposts-box:hover{
    overflow-y: scroll;
  }
}

//TABLET > DESKTOP
@media screen and (min-width: $tablet) and (max-width: $desktop){
  .allposts-container {
    width: 45%;
    .allposts-box {
      height: 600px;
      overflow: hidden;
      .post-caption {
        height: 170px;
      }
    }
  }
}

//TABLET
@media screen and (min-width: $mobile) and (max-width: $tablet){
  .allposts-container {
    min-width: $mobile;
    width: 100%;
    max-width: $tablet;
    .allposts-box {
      .post-caption {
        height: 150px;
      }
    }
  }
}

//MOBILE
@media screen and (max-width: $mobile){
  .allposts-container {
    min-width: $xs-mobile;
    max-width: $mobile;
    .allposts-box {
      .post-caption {
        height: 150px;
      }
    }
  }
}