@import '../../assets/sass/main.scss';

//DESKTOP MIN 1440PX
.footer-container{
    @include body-01;
    width: calc(100% - 11.112vw);
    height: auto;
    background-color: $footer-bg;
    color: $text-light;
    display: flex;
    flex-flow: column nowrap;
    padding: 3.889vw 5.556vw;
    .footer{
        display: flex;
        justify-content: space-between;
        .logo{
            display: flex;
            align-items: center;
        }
        .nav{
            ul{
                display: flex;
                align-items: center;
                gap: 24px;
                li{
                    .text-link{
                        color: $text-light;
                        text-decoration: none;
                    };
                    .text-link:visited{
                        color: $text-light;
                        text-decoration: none;
                    };
                    .text-link:hover{
                        color: $span-y;
                        text-decoration: underline;
                    };
                    .text-link:active{
                        color: $text-light;
                        text-decoration: none;
                    };
                };
            };
        }
    }
    .subs-box{
        height: 256px;
        background-color: rgba(256, 256, 256, 0.05);
        margin: 3.889vw 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5.556vw 4.444vw;
        .subs-txt{
            width: 50%;
            h2{
                color: $text-light;
                margin-right: 4.444vw;
            }
        }
        .subs-form{
            display: flex;
            align-items: center;
            gap: 24px;
            .dark-input{
                width: 300px;
                height: 56px;
                background-color: transparent;
                border: 1px solid $text-medium;
                color: $text-medium;
                padding: 0px 1.667vw;
            }
        }
    }
}

//TABLET > DESKTOP
@media screen and (min-width: $tablet) and (max-width: $desktop){
    .footer-container{
        min-width: $tablet;
        max-width: $desktop;
        .footer{
            flex-flow: column wrap;
            align-items: center;
            gap: 24px;
            :first-child{
                text-align: center;
            }
            .logo{
                justify-content: center;
                margin-bottom: 3.889vw;
            }
            .nav{
                display: none;
            }
        }
        .subs-box{
            height: auto;
            flex-flow: column wrap;
            .subs-txt{
                width: 100%;
                h2{
                    text-align: center;
                    margin-right: 0;
                    margin-bottom: 3.889vw;
                }
            }
            .subs-form{
                flex-flow: column wrap;
            }
        }
    }
}

//TABLET
@media screen and (min-width: $mobile) and (max-width: $tablet){
    .footer-container{
        min-width: $mobile;
        max-width: $tablet;
        .footer{
            flex-flow: column wrap;
            align-items: center;
            gap: 24px;
            :first-child{
                text-align: center;
            }
            .logo{
                justify-content: center;
                margin-bottom: 3.889vw;
            }
            .nav{
                display: none;
            }
        }
        .subs-box{
            height: auto;
            flex-flow: column wrap;
            .subs-txt{
                width: 100%;
                h2{
                    text-align: center;
                    margin-right: 0;
                    margin-bottom: 3.889vw;
                }
            }
            .subs-form{
                flex-flow: column wrap;
            }
        }
    }
}

//MOBILE
@media screen and (max-width: $mobile){
    .footer-container{
        min-width: $xs-mobile;
        max-width: $mobile;
        .footer{
            flex-flow: column wrap;
            align-items: center;
            gap: 24px;
            :first-child{
                text-align: center;
            }
            .logo{
                justify-content: center;
                margin-bottom: 3.889vw;
            }
            .nav{
                display: none;
            }
        }
        .subs-box{
            height: auto;
            flex-flow: column wrap;
            .subs-txt{
                width: 100%;
                h2{
                    text-align: center;
                    margin-right: 0;
                    margin-bottom: 3.889vw;
                }
            }
            .subs-form{
                flex-flow: column wrap;
            }
        }
    }
}