@import "../../assets/sass/main.scss";

//DESKTOP MIN 1440PX
.tabs-container {
    width: 100%;
    height: 100%;
    .tabs {
        height: 25px;
        display: flex;
        cursor: pointer;
            .tab1 {
                width: 15%;
                background-color: white;
            }
            .tab2 {
                width: 65%;
                background-color: $btn-bg;
            }
            .tab3 {
                width: 20%;
                background-color: $span;
            }
    }
    .tabs-output {
        width: auto;
        min-height: 350px;
        background-color: $tab-output-bg;
        padding: 5.556vw;
        .tab-wrapper{
            display: flex;
            justify-content: space-between;
            gap: 5.556vw;
            .article{
                width: 100%;
                .cap{
                    @include cap;
                    margin-bottom: 1.667vw;
                }
                p{
                    @include body-01;
                    margin: 1.111vw 0;
                }
                a{
                    @include btn-font
                }
            }
        }
    }
}

//TABLET > DESKTOP
@media screen and (min-width: $tablet) and (max-width: $desktop){
    .tabs-container {
        min-width: $tablet;
        max-width: $desktop;
        .tabs-output {
            min-height: 435px;
        }
    }
}

//TABLET
@media screen and (min-width: $mobile) and (max-width: $tablet){
    .tabs-container {
        min-width: $mobile;
        max-width: $tablet;
        .tabs-output {
            min-height: 560px;
            .tab-wrapper{
                flex-flow: column wrap;
                :first-child{
                    margin-bottom: 5.556vw;
                }
            }
        }
    }
}

//MOBILE
@media screen and (max-width: $mobile){
    .tabs-container {
        min-width: $xs-mobile;
        max-width: $mobile;
        .tabs-output {
            min-height: 700px;
            .tab-wrapper{
                flex-flow: column wrap;
                :first-child{
                    margin-bottom: 5.556vw;
                }
            }
        }
    }
}

//BACKUP
// .tabs-container {
//     width: 100%;
//     height: 525px;
//     .tabs {
//       //width: 100%;
//       height: 25px;
//       display: flex;
//       cursor: pointer;
//         .tab1 {
//             width: 15%;
//             background-color: white;
//         }
//         .tab2 {
//             width: 65%;
//             background-color: $btn-bg;
//         }
//         .tab3 {
//             width: 20%;
//             background-color: $span;
//         }
//     }
//     .tabs-output {
//         width: auto;
//         height: calc(100% - 160px);
//         background-color: $tab-output-bg;
//         padding: 80px;
//         .tab-wrapper{
//             display: flex;
//             gap: 80px;
//             .article{
//                 width: 50%;
//                 .cap{
//                     @include cap;
//                     margin-bottom: 24px;
//                 }
//                 p{
//                     @include body-01;
//                     margin: 16px 0;
//                 }
//                 a{
//                     @include btn-font
//                 }
//             }
//             }
            
//     }
// }