@import "../../assets/sass/main.scss";

//DESKTOP MIN 1440PX
.sp-container {
  width: 100%;
  position: relative;
  .sp-img {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 4;
    .img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  .sp-txt {
    width: 45%;
    height: auto;
    background-color: $cat-bg;
    padding: 5.556vw;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    .txt-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      .sp-cap {
        @include cap;
        margin-bottom: 1.667vw;
      }
      p {
        @include body-01;
        white-space: normal;
        margin: 1.111vw 0;
      }
    }
    .btn-wrapper{
      margin-top: 2.222vw;
    }
  }
}

//TABLET > DESKTOP
@media screen and (min-width: $tablet) and (max-width: $desktop){
  .sp-container {
    min-width: $tablet;
    max-width: $desktop;
    position: relative;
    .sp-txt {
      width: 75%;
      background-color: $cat-bg;
    }
  }
}


//TABLET
@media screen and (min-width: $mobile) and (max-width: $tablet){
  .sp-container {
    min-width: $mobile;
    max-width: $tablet;
    display: flex;
    flex-flow: column wrap;
    .sp-img {
      z-index: 0;
    }
    .sp-txt {
      width: 100%;
      padding: 5.556vw 0;
      position: unset;
      z-index: 0;
      .btn-wrapper{
        width: 100%;
      }
    }
  }
}

//MOBILE
@media screen and (max-width: $mobile){
  .sp-container {
    min-width: $xs-mobile;
    max-width: $mobile;
    display: flex;
    flex-flow: column wrap;
    .sp-img {
      z-index: 0;
    }
    .sp-txt {
      width: 100%;
      padding: 5.556vw 0;
      position: unset;
      z-index: 0;
      .txt-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;

      }
      .btn-wrapper{
        width: 100%;
      }
    }
  }
}



//BACKUP
// .sp-container {
//   width: 100%;
//   position: relative;
//   .sp-img {
//     width: 80%;
//     height: 100%;
//     bottom: 0;
//     left: 0;
//     z-index: 4;
//     .img {
//       max-width: 100%;
//       height: auto;
//       object-fit: contain;
//     }
//   }
//   .sp-txt {
//     width: 45%;
//     height: auto;
//     background-color: $cat-bg;
//     padding: 80px;
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     z-index: 5;
//     .txt-wrapper{
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       //padding: 80px;
//       .sp-cap {
//         @include cap;
//         margin-bottom: 24px;
//       }
//       p {
//         @include body-01;
//         white-space: normal;
//         margin: 16px 0;
//       }
//     }
//     .btn-wrapper{
//       margin-top: 32px;
//     }
//   }
// }