@import '../../assets/sass/main.scss';

//DESKTOP MAX 1440PX
.contact-container{
    width: 100%;
    height: auto;
    padding: 5.556vmax 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact-title{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.222vmax;
        .contact-cap{
            @include cap;
            margin-bottom: 1.111vmax;
        }
        h1{
            margin-bottom: 1.667vmax;
            text-align: center;
        }
    }
    .contact-box{
        width: calc(60% - 8.889vmax);
        color: $text-light;
        background-color: $span;
        border-radius: 8px;
        padding: 4.444vmax;
        margin-bottom: 2.222vmax;
        display: flex;
        gap: 3.333vw;
        .info-box{
            width: 50%;
            p{
                @include body-02
            }
            hr{
                border: 1px solid $text-light;
                opacity: 0.1;
                margin: 1.111vmax 0;
            }
        }
    }
    .contact-form{
        width: 60%;
        form{
            display: flex;
            flex-direction: column;
            .input{
                @include body-01;
                width: calc(100% - 1vw);
                height: auto;
                background-color: transparent;
                border: 1px solid $border;
                border-radius: 8px;
                margin: 0.556vw 0;
                padding: 0.45vw;
            }
            .btn{
                width: 100%;
                height: auto;
                border: 1px solid $span-y;
                border-radius: 8px;
                margin: 0.556vw 0;
                padding: 0.694vw;
            }
            .select{
                @include body-01;
                width: 100%;
                height: auto;
                border: 1px solid $border;
                border-radius: 8px;
                margin: 0.556vw 0;
                padding: 0.694vw;
            }
            .form-control:focus{
                outline: 0;
            }
            .form-error{
                @include body-02;
                color: $contact-error;
            }
            .form-success{
                @include body-02;
                color: $contact-success;
            }
            .hidden{
                display: none;
            }
        }
    }
}

//TABLET
@media screen and (min-width: $mobile) and (max-width: $tablet){
    .contact-container{
        min-width: $mobile;
        max-width: $tablet;
        display: flex;
        flex-direction: column;
        align-items: center;
        .contact-title{
            width: 85%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .contact-box{
            width: calc(85% - 8.889vw);
            .info-box{
                width: 85%;
            }
        }
        .contact-form{
            width: 85%;
        }
    }
}

//MOBILE
@media screen and (max-width: $mobile){
    .contact-container{
        min-width: $xs-mobile;
        max-width: $mobile;
        display: flex;
        flex-direction: column;
        align-items: center;
        .contact-title{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .contact-box{
            width: calc(100% - 8.889vw);
            .info-box{
                width: 100%;
            }
        }
        .contact-form{
            width: 100%;
        }
    }
}