//cores
$nav-bg: rgb(35, 37, 54);
$footer-bg:	rgb(35, 37, 54);
$text-dark:	rgb(35, 37, 54);
$text-medium: rgb(109, 110, 118);
$text-light: rgb(255, 255, 255);
$subs-bg: rgb(255, 255, 255);
$btn-bg: rgb(255, 208, 80);
$btn-bg-hover: rgb(237, 193, 74);
$span: rgb(89, 46, 169);
$span-y: rgb(255, 208, 80);
$border: rgb(109, 110, 118);
$tab-output-bg: rgb(244, 240, 248);
$ft-post-bg: rgb(244, 240, 248);
$cat-bg: white;
$cat-bg-hover: rgb(255, 208, 80);
$author-bg: rgb(244, 244, 244);
$author-bg-hover: rgb(251, 246, 234);
$test-bg: rgb(251, 246, 234);
$contact-error: rgb(220, 20, 60);
$contact-success: rgb(60, 179, 113);

//breakpoints
$xs-mobile: 375px;
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$xl-desktop: 1200px;
$xxl-desktop: 1440px;