@import './variables';

//upload fonts
@font-face{
    font-family: 'sen-regular';
    src: url(../fonts/Sen-Regular.ttf);
}

@font-face{
    font-family: 'sen-bold';
    src: url(../fonts/Sen-Bold.ttf);
}

@font-face{
    font-family: 'sen-extrabold';
    src: url(../fonts/Sen-ExtraBold.ttf);
}


//mixins
@mixin display{
    font-family: 'sen-bold';
    font-size: 48px;
    line-height: 64px;
    margin: 24px 0;
}

@mixin body-01{
    font-family: 'sen-regular';
    font-size: 16px;
    line-height: 28px;
}

@mixin body-02{
    font-family: 'sen-regular';
    font-size: 14px;
    line-height: 20px;
}

@mixin label{
    font-family: 'sen-regular';
    font-size: 14px;
    line-height: 20px;
}

@mixin btn-font{
    font-family: 'sen-bold';
    font-size: 18px;
    line-height: 24px;
}

//headings
h1, h2, h3, h4, h5, h6{
    font-family: 'sen-bold';
}

h1{
    font-size: 48px;
    line-height: 64px;
}

h2{
    font-size: 36px;
    line-height: 48px;
}

h3{
    font-size: 28px;
    line-height: 36px;
}

h4{
    font-size: 24px;
    line-height: 32px;
}

h5{
    font-size: 20px;
    line-height: 32px;
}

h6{
    font-size: 16px;
    line-height: 24px;
}

//text
p, a, li{
    font-family: 'sen-regular';
    margin: 16px 0;
}

span{
    color: $span;
}