//cores
$nav-bg: #232536;
$footer-bg: #232536;
$text-dark: #232536;
$text-medium: #6D6E76;
$text-light: white;
$subs-bg: white;
$btn-bg: #FFD050;
$btn-bg-hover: #EDC14A;
$span: #592EA9;
$span-y: #FFD050;
$border: #6D6E76;
$tab-output-bg: #F4F0F8;
$ft-post-bg: #F4F0F8;
$cat-bg: white;
$cat-bg-hover: #FFD050;
$author-bg: #F4F4F4;
$author-bg-hover: #FBF6EA;
$test-bg: #FBF6EA;



//breakpoints
$xs-mobile: 375px;
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$xl-desktop: 1200px;
$xxl-desktop: 1440px;