//cores
$nav-bg: #232536;
$footer-bg: #232536;
$text-dark: #232536;
$text-medium: #6D6E76;
$text-light: white;
$subs-bg: white;
$btn-bg: #FFD050;
$btn-bg-hover: #EDC14A;
$span: #592EA9;
$border: #6D6E76;
$tab-output-bg: #F4F0F8;
$ft-post-bg: #F4F0F8;
$cat-bg: white;
$cat-bg-hover: #FFD050;
$author-bg: #F4F4F4;
$author-bg-hover: #FBF6EA;
$testmonials-bg: #FBF6EA;



//breakpoints
$mobile-min-w: 576px;
$tablet-min-w: 768px;
$desktop-min-w: 992px;
$larger-desktop-min-w: 1200px;