@import "../sass/main.scss";

.allposts-container {
  width: 50%;
  height: 600px;
  padding: 80px;
  .allposts-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .allposts-box {
    .post-caption {
      width: 100%;
      height: 200px;
      background-color: $cat-bg;
      border: 1px solid yellow;
      padding: 32px;
      display: flex;
      flex-direction: column;
      .ftpost-label {
        @include label;
        .span {
          color: $span;
        }
      }
      .post-caption:hover {
        background-color: $author-bg-hover;
        cursor: pointer;
      }
    }
  }
}
