@import './resets';
@import './font';
@import './variables';

.nav{
    width: 100vw;
    height: 80px;
    background-color: $nav-bg;
    color: $text-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 50vw;
        display: flex;
        justify-content: flex-start;
    }
    ul{
        width: 50vw;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
}


.footer-container{
    width: 100vw;
    height: 560px;
    background-color: $footer-bg;
    color: $text-light;
    display: flex;
    flex-direction: column;
    .footer{
        display: flex;
        justify-content: space-between;
        ul{
            width: 33vw;
            display: flex;
            justify-content: space-between;
        }
    }
    .subs-box{
        height: 256px;
        background-color: white;
        // opacity: 0.05;
        display: flex;
        justify-content: space-between;
    }
}

.subs-btn{
    width: 180px;
    height: 56px;
    background-color: $subs-bg;
    color: $text-dark;
}

