@import './resets';
@import './font';
@import './variables';

.header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 15;
}

.master-wrapper{
    width: 1440px;
    margin: 0 auto;
    border: 1 solid #CCC;
    position: relative;
    top: 80px;
    .posts-section{
        margin: 80px;
        display: flex;
        gap: 32px;
    }
    .tabs-section{
        margin: 80px;
    }
    .carousel-section{
        margin: 80px;
    }
    .sp-section{
        margin: 80px;
    }
    .authors-section{
        margin: 80px;
    }
    .logo-section{
        margin: 80px;
    }
    .test-section{
        margin: 80px;
    }
    .join-section{
        margin: 80px;
    }
    .post-section{
        margin: 80px;
    }
    .readnext-section{
        margin: 80px;
    }
    .contact-section{
        margin: 80px;
    }
}



