@import './main.scss';

.imgslider-container{
    width: 100%;
    //box-shadow: 0 0 200px #000 inset;
    position: relative;
    .img-slider{
        width: 100%;
        height: 720px;
        object-fit: cover;
        position: relative;    
    }
    // .img-slider::after{
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 720px;
    //     border-radius: 50%;
    //     box-shadow: inset 10px 24px 40px 0px black,
    //     inset -10px -24px 40px 0px black,
    //     inset 20px -10px 40px 0px black,
    //     inset -20px 10px 40px 0px black;
    //     //background: circle-gradient(#000, #fff);
    // }
    .currentSlide {
        transition-duration: 0.5s ease;
        opacity: 0;
    }
    .currentSlide.active{
        opacity: 1;
        transition-duration: 0.5s;
    }
    .txt-container{
        width: 60%;
        height: calc(100% - 256px);
        position: absolute;
        z-index: 4;
        top: 0;
        left: 3rem;
        .txt-slider{
            color: $text-light;
            padding: 128px 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h6{
                text-transform: uppercase;
            }
            p{
                @include body-01;
                text-align: left;
            }
            .display-txt{
                @include display;
                text-align: left;
            }
        }
    }
  
    .prev{
        position: absolute;
        left: 3rem;
        top: 50%;
        transform: translateY(-50%);
        //font-size: 1rem;
        //color: blue;
        z-index: 5;
        cursor: pointer;
        user-select: none;
    }
    .next{
        position: absolute;
        right: 3rem;
        top: 50%;
        transform: translateY(-50%);
        //font-size: 1rem;
        //color: blue;
        z-index: 5;
        cursor: pointer;
        user-select: none;
    }

}
