@import '../../assets/sass/main.scss';

//DESKTOP MIN 1440PX
.post-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    .post-author-wrapper{
        width: 60%;
        display: flex;
        align-items: center;
        gap: 16px;
        .img-wrapper{
            width: 48px;
            height: 48px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .txt-wrapper{
            h3{
                color: $span;
            }
            p{
                @include label-txt;
            }
        }
    }
    .post-title-wrapper{
        width: 60%;
        margin-top: 24px;
        .post-cat-wrapper{
            display: flex;
            align-items: center;
            margin: 16px 0;
            img{
                width: 24px;
                height: 24px;
                object-fit: scale-down;
                margin-right: 8px;
            }
        }
    }
    .post-img-wrapper{
        width: auto;
        height: 550px;
        margin: 64px 0;
        img{
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
    .post-body{
        width: 60%;
        height: auto;
        article{
            margin-bottom: 48px;
            text-align: left;
            h2{
                margin-bottom: 16px;
            }
            p{
                @include body-01;
            }
            li{
                list-style: disc;
            }
        }
    }
}

//TABLET > DESKTOP
@media screen and (min-width: $tablet) and (max-width: $desktop){
    .post-container{
        min-width: $tablet;
        max-width: $desktop;
        .post-author-wrapper{
            width: 80%;
            display: flex;
            align-items: center;
            gap: 16px;
        }
        .post-title-wrapper{
            width: 80%;
            margin-top: 24px;
        }
        .post-img-wrapper{
            width: 100%;
            height: auto;
            margin: 64px 0;
        }
        .post-body{
            width: 80%;
            height: auto;
        }
    }
}

//TABLET
@media screen and (min-width: $mobile) and (max-width: $tablet){
    .post-container{
        min-width: $mobile;
        max-width: $tablet;
        .post-author-wrapper{
            width: 90%;
            display: flex;
            align-items: center;
            gap: 16px;
        }
        .post-title-wrapper{
            width: 90%;
            margin-top: 24px;
        }
        .post-img-wrapper{
            width: 100%;
            margin: 64px 0;
        }
        .post-body{
            width: 90%;
        }
    }
}

//MOBILE
@media screen and (max-width: $mobile){
    .post-container{
        min-width: $xs-mobile;
        max-width: $mobile;
        .post-author-wrapper{
            width: 90%;
            display: flex;
            align-items: center;
            gap: 16px;
        }
        .post-title-wrapper{
            width: 90%;
            margin-top: 24px;
        }
        .post-img-wrapper{
            width: auto;
            height: 400px;
            margin: 64px 0;
        }
        .post-body{
            width: 90%;
        }
    }
}