@import "../../assets/sass/main.scss";

//TABLET
@media screen and (min-width: $mobile) and (max-width: $tablet){
    .carousel-container {
        min-width: $mobile;
        max-width: $tablet;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        .carousel-title {
            display: flex;
            justify-content: center;
            margin-bottom: 2.222vw;
        }
        .cat-wrapper{
            display: flex;
            position: unset;
            flex-flow: column nowrap;
            .cat-arrows{
                margin-top: 2.222vw;
                position: unset;
                .arrows-wrapper{
                    display: flex;
                    justify-content: center;
                    align-self: flex-end;
                    .prev-arrow{
                        transform: rotate(180deg);
                        cursor: pointer;
                    }
                    .prev-arrow:hover{
                        transform: rotate(180deg) scale(150%);
                    }
                    .next-arrow{
                        cursor: pointer;
                    }
                    .next-arrow:hover{
                        transform: scale(150%);
                    }
                }
            }
            .box-wrapper{
                width: 100%;
                height: auto;
                background-color: #fff;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                .carousel-box {
                    width: 45%;
                    height: auto;
                    border: solid 1px $border;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2.222vw;    
                    .txt-wrapper {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: flex-start;
                        .img-wrapper{
                            width: 48px;
                            height: 48px;
                            background-color: $test-bg;
                            border-radius: 5px;
                            margin-bottom: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        h3{
                            margin-bottom: 4px;
                        }
                        p{
                            @include body-02;
                            color: $text-medium;
                        }
                    }
                &.carousel-box:hover {
                    background-color: $cat-bg-hover;
                    border: solid 1px $cat-bg-hover;
                    cursor: pointer;
                }
                }
                .hidden{
                    display: none;
                }
            }   
        }
    }
}

//MOBILE
@media screen and (max-width: $mobile){
    .carousel-container {
        min-width: $xs-mobile;
        max-width: $mobile;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        .carousel-title {
            display: flex;
            justify-content: center;
            margin-bottom: 2.222vw;
        }
        .cat-wrapper{
            display: flex;
            position: unset;
            flex-flow: column nowrap;
            .cat-arrows{
                margin-top: 2.222vw;
                position: unset;
                .arrows-wrapper{
                    display: flex;
                    justify-content: center;
                    align-self: flex-end;
                    .prev-arrow{
                        transform: rotate(180deg);
                        cursor: pointer;
                    }
                    .prev-arrow:hover{
                        transform: rotate(180deg) scale(150%);
                    }
                    .next-arrow{
                        cursor: pointer;
                    }
                    .next-arrow:hover{
                        transform: scale(150%);
                    }
                }
            }
            .box-wrapper{
                width: 100%;
                height: auto;
                background-color: #fff;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                .carousel-box {
                    width: 40%;
                    height: 200px;
                    border: solid 1px $border;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2.222vw;    
                    .txt-wrapper {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: flex-start;
                        .img-wrapper{
                            width: 48px;
                            height: 48px;
                            background-color: $test-bg;
                            border-radius: 5px;
                            margin-bottom: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        h3{
                            margin-bottom: 4px;
                        }
                        p{
                            @include body-02;
                            color: $text-medium;
                        }
                    }
                &.carousel-box:hover {
                    background-color: $cat-bg-hover;
                    border: solid 1px $cat-bg-hover;
                    cursor: pointer;
                }
                }
                .hidden{
                    display: none;
                }
            }   
        }
    }
}