@import '../../assets/sass/main.scss';


.btn{
    //width: 180px;
    height: 56px;
    background-color: $btn-bg;
    color: $text-dark;
    border: 0px;
    padding: 0 48px;
    @include btn-font;
    &:hover{
        background-color: $btn-bg-hover;
        cursor: pointer;
    }
}

.btn-header{
    width: auto;
    height: 56px;
    background-color: $subs-bg;
    color: $text-dark;
    border: 0px;
    padding: 0 48px;
    @include btn-font;
    &:hover{
        background-color: $btn-bg-hover;
        cursor: pointer;
    }
}