@import '../../assets/sass/main.scss';

//desktop
.test-container{
    width: 100%;
    height: 100%;
    background-color: $test-bg;
    margin: 0 auto;
    position: relative;
    z-index: 8;
    .test-arrows{
        position: absolute;
        z-index: 9;
        bottom: 0;
        right: 0;
        .arrows-wrapper{
            padding: 5.556vw;
            display: flex;
            .prev-arrow{
                transform: rotate(180deg);
                cursor: pointer;
            }
            .prev-arrow:hover{
                transform: rotate(180deg) scale(150%);
            }
            .next-arrow{
                cursor: pointer;
            }
            .next-arrow:hover{
                transform: scale(150%);
            }
        }
    }
    .test-wrapper{
        height: calc(450px - 11.111vw);
        padding: 5.556vw;
        display: flex;
        .test-txt{
            width: 40%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: left;
            white-space: normal;
            h2{
                margin-bottom: 1.111vw;
            }
            p{
                @include body-01;
            }
            .test-cap{
                @include cap;
                margin-bottom: 0.833vw;
            }
        }
        .test-hr{
            //height: 100%;
            padding: 0 5.556vw;
            hr{
                //width: 100%;
                height: calc(450px - 11.111vw);
                border: 1 solid $text-medium;
                opacity: 0.4;
                transform: rotate(180deg);
            }
        }
        .output-container{
            width: 60%;
            height: 100%;
            position: relative;
            z-index: 7;
            div{
                height: 100%;
                .test-output{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .author-wrapper{
                        height: auto;
                        display: flex;
                        .img-wrapper{
                            width: 48px;
                            height: 48px;
                            margin-right: 1.111vw; 
                            .img-test{
                                object-fit: contain;
                            }
                        }
                        .author-test{
                            p{
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .current-test {
            transition-duration: 0.5s ease;
            opacity: 0;
        }
        .current-test.active{
            opacity: 1;
            transition-duration: 0.5s;
        }
    }
}

//MOBILE
@media screen and (max-width: $mobile){
    .test-container{
        min-width: $xs-mobile;
        max-width: $mobile;
        height: 700px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        .test-arrows{
            position: unset;
            z-index: 9;
        }
        .test-wrapper{
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            .test-txt{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: left;
                white-space: normal;
            }
            .test-hr{
                //height: 100%;
                padding: 13.889vw 0;
                hr{
                    width: 100%;
                    height: 0;
                    border: 1 solid $text-medium;
                    opacity: 0.4;
                    transform: none;
                }
            }
            .output-container{
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 7;
                div{
                    height: 100%;
                    .test-output{
                        gap: 24px;
                        }
                    }
                }
            }
        }
    }







//BACKUP
// .test-container{
//     width: calc(100% - 160px);
//     height: calc(450px - 160px);
//     padding: 80px;
//     background-color: $test-bg;
//     position: relative;
//     z-index: 8;
//     .test-arrows{
//         position: absolute;
//         z-index: 9;
//         bottom: 0px;
//         right: 0px;
//         .arrows-wrapper{
//             padding: 80px;
//             display: flex;
//         }
//     }
//     .test-wrapper{
//         height: 100%;
//         display: flex;
//         .test-txt{
//             width: 40%;
//             height: auto;
//             display: flex;
//             flex-direction: column;
//             justify-content: left;
//             white-space: normal;
//             h2{
//                 margin-bottom: 16px;
//             }
//             p{
//                 @include body-01;
//             }
//             .test-cap{
//                 @include cap;
//                 margin-bottom: 12px;
//             }
//         }
//         .test-hr{
//             //height: 100%;
//             padding: 0 80px;
//             hr{
//                 //width: 100%;
//                 height: calc(450px - 160px);
//                 border: 1 solid $text-medium;
//                 opacity: 0.4;
//                 transform: rotate(180deg);
//             }
//         }
//         .output-container{
//             width: 60%;
//             height: 100%;
//             position: relative;
//             z-index: 7;
//             div{
//                 height: 100%;
//                 .test-output{
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: space-between;
//                     .author-wrapper{
//                         height: auto;
//                         display: flex;
//                         .img-wrapper{
//                             width: 48px;
//                             height: 48px;
//                             margin-right: 16px; 
//                             .img-test{
//                                 object-fit: contain;
//                             }
//                         }
//                         .author-test{
//                             p{
//                                 margin: 0;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//         .current-test {
//             transition-duration: 0.5s ease;
//             opacity: 0;
//         }
//         .current-test.active{
//             opacity: 1;
//             transition-duration: 0.5s;
//         }
//     }
// }