@import '../../assets/sass/main.scss';

.test-container{
    width: 100%;
    height: 450px;
    background-color: $test-bg;
    position: relative;
    z-index: 4;
    .test-arrows{
        position: absolute;
        z-index: 5;
        bottom: 0px;
        right: 0px;
        .arrows-wrapper{
            padding: 80px;
            display: flex;
        }
    }
    .test-wrapper{
        padding: 80px;
        height: auto;
        display: flex;
        .test-txt{
            width: 40%;
            height: auto;
            .txt-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: left;
                white-space: normal;
                h2{
                    margin-bottom: 16px;
                }
                p{
                    @include body-01;
                }
                .test-cap{
                    @include cap;
                    margin-bottom: 12px;
                }
            }

        }
        .test-hr{
            //height: 100%;
            padding: 0 80px;
            hr{
                //width: 100%;
                height: calc(450px - 160px);
                border: 1 solid $text-medium;
                opacity: 0.4;
                transform: rotate(180deg);
            }
        }
        .currentSlide {
            transition-duration: 0.5s ease;
            opacity: 0;
        }
        .currentSlide.active{
            opacity: 1;
            transition-duration: 0.5s;
        }
        .output-container{
            width: 60%;
            height: 100%;
            position: relative;
            z-index: 3;
            div{
                width: 100%;
                height: 100%;
                .test-output{
                    //width: 100%;
                    //height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    //gap: 120px;
                    .author-wrapper{
                        display: flex;
                        align-items: center;
                        .img-wrapper{
                            width: 48px;
                            height: 48px;
                            margin-right: 16px; 
                            .img-test{
                                object-fit: contain;
                            }
                        }
                        .author-test{
                            p{
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
    
    
}