@import '../../assets/sass/main.scss';

//DESKTOP MAX 1440PX
.header{
    width: 100%;
    height: auto;
    background-color: $nav-bg;
    position: sticky;
    top: 0;
    z-index: 15;
}
.master-wrapper{
    width: 100%;
    position: relative;
    margin: 0 auto;
    .posts-section{
        margin-top: 2.222vw;
        padding: 2.222vw 5.556vw;
        display: flex;
        gap: 64px;
    }
    .tabs-section{
        padding: 2.222vw 5.556vw;
    }
    .carousel-section{
        padding: 2.222vw 5.556vw;
    }
    .mobile-carousel-section{
        display: none;
    }
    .sp-section{
        padding: 2.222vw 5.556vw;
    }
    .authors-section{
        padding: 2.222vw 5.556vw;
    }
    .mobile-authors-section{
        display: none;
    }
    .logo-section{
        padding: 2.222vw 5.556vw;
    }
    .test-section{
        padding: 2.222vw 5.556vw;
    }
    .join-section{
        padding: 2.222vw 5.556vw;
    }
    .post-section{
        padding: 2.222vw 5.556vw;
    }
    .readnext-section{
        padding: 2.222vw 5.556vw;
    }
    .contact-section{
        padding: 2.222vw 5.556vw;
    }
}
.footer{
    width: 100%;
    height: auto;
    background-color: $footer-bg;
}

//TABLET > DESKTOP
@media screen and (min-width: $tablet) and (max-width: $desktop){
    .master-wrapper{
        min-width: $tablet;
        width: 100%;
        max-width: $desktop;
        position: relative;
        .posts-section{
            margin-top: 2.222vw;
            padding: 2.222vw 5.556vw;
            display: flex;
            gap: 64px;
        }
    }
}

//TABLET
@media screen and (min-width: $mobile) and (max-width: $tablet){
    .master-wrapper{
        min-width: $mobile;
        width: 100%;
        max-width: $tablet;
        display: flex;
        flex-flow: column wrap;
        .posts-section{
            display: flex;
            flex-flow: column nowrap;
        }
        .carousel-section{
            display: none;
        }
        .mobile-carousel-section{
            display: flex;
            padding: 2.222vw 5.556vw;
        }
        .authors-section{
            display: none;
        }
        .mobile-authors-section{
            display: flex;
            padding: 2.222vw 5.556vw;
        }

    }
}

//MOBILE
@media screen and (max-width: $mobile){
    .master-wrapper{
        min-width: $xs-mobile;
        max-width: $mobile;
        display: flex;
        flex-flow: column wrap;
        .posts-section{
            display: flex;
            flex-flow: column nowrap;
        }
        .carousel-section{
            display: none;
        }
        .mobile-carousel-section{
            display: flex;
            padding: 2.222vw 5.556vw;
        }
        .authors-section{
            display: none;
        }
        .mobile-authors-section{
            display: flex;
            padding: 2.222vw 5.556vw;
        }
    }
}


//backup
// .master-wrapper{
//     width: 1440px;
//     margin: 0 auto;
//     border: 1 solid #CCC;
//     position: relative;
//     top: 80px;
//     .posts-section{
//         margin: 80px;
//         display: flex;
//         gap: 32px;
//     }
//     .tabs-section{
//         margin: 80px;
//     }
//     .carousel-section{
//         margin: 80px;
//     }
//     .sp-section{
//         margin: 80px;
//     }
//     .authors-section{
//         margin: 80px;
//     }
//     .logo-section{
//         margin: 80px;
//     }
//     .test-section{
//         margin: 80px;
//     }
//     .join-section{
//         margin: 80px;
//     }
//     .post-section{
//         margin: 80px;
//     }
//     .readnext-section{
//         margin: 80px;
//     }
//     .contact-section{
//         margin: 80px;
//     }
// }


//    width: calc(100vw - (8px + 1.5625vw));