@import '../../assets/sass/main.scss';

//desktop
.header{
    width: 100%;
    height: auto;
    background-color: $nav-bg;
    position: sticky;
    top: 0;
    z-index: 15;
}
.master-wrapper{
    width: calc(100vw - (8px + 1.5625vw));
    margin: 0 auto;
    border: 1 solid #CCC;
    position: relative;
    top: 80px;
    .posts-section{
        padding: 0.833vw 5.556vw;
        display: flex;
        gap: 64px;
    }
//     .tabs-section{
//         margin: 5.556vw;
//     }
//     .carousel-section{
//         margin: 5.556vw;
//     }
    .sp-section{
        margin: 5.556vw;
    }
//     .authors-section{
//         margin: 5.556vw;
//     }
    .logo-section{
        margin: 5.556vw;
    }
//     .test-section{
//         margin: 5.556vw;
//     }
    .join-section{
        margin: 5.556vw;
    }
//     .post-section{
//         margin: 5.556vw;
//     }
//     .readnext-section{
//         margin: 5.556vw;
//     }
//     .contact-section{
//         margin: 5.556vw;
//     }
}
.footer{
    width: 100%;
    height: auto;
    background-color: $footer-bg;
}

//mobile
@media screen and (max-width: $mobile){
    .master-wrapper{
        min-width: $xs-mobile;
        max-width: $mobile;
        display: flex;
        flex-flow: column wrap;
        .posts-section{
            display: flex;
            flex-flow: column nowrap;
        }
    }
}


//backup
// .master-wrapper{
//     width: 1440px;
//     margin: 0 auto;
//     border: 1 solid #CCC;
//     position: relative;
//     top: 80px;
//     .posts-section{
//         margin: 80px;
//         display: flex;
//         gap: 32px;
//     }
//     .tabs-section{
//         margin: 80px;
//     }
//     .carousel-section{
//         margin: 80px;
//     }
//     .sp-section{
//         margin: 80px;
//     }
//     .authors-section{
//         margin: 80px;
//     }
//     .logo-section{
//         margin: 80px;
//     }
//     .test-section{
//         margin: 80px;
//     }
//     .join-section{
//         margin: 80px;
//     }
//     .post-section{
//         margin: 80px;
//     }
//     .readnext-section{
//         margin: 80px;
//     }
//     .contact-section{
//         margin: 80px;
//     }
// }
