@import '../../assets/sass/main.scss';

//DESKTOP MIN 1440PX
.nav-container{
    @include body-01;
    width: calc(100% - 11.112vw);
    height: 80px;
    padding: 0.833vw 5.556vw;
    background-color: $nav-bg;
    color: $text-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        display: flex;
        align-items: center;
    }
    .nav{
        ul{
            display: flex;
            align-items: center;
            gap: 1.667vw;
            li{
                .text-link{
                    color: $text-light;
                    text-decoration: none;
                };
                .text-link:visited{
                    color: $text-light;
                    text-decoration: none;
                };
                .text-link:hover{
                    color: $span-y;
                    text-decoration: none;
                };
                .text-link:active{
                    color: $text-light;
                    text-decoration: none;
                };
            };
        };
    };
    .hidden{
        display: none;
    }
    .hamburger-toggle{
        display: none;
    }
}

//TABLET
@media screen and (min-width: $mobile) and (max-width: $tablet){
    .nav-container{
        min-width: $mobile;
        max-width: $tablet;
        display: flex;
        justify-content: space-between;
        .logo{
            display: flex;
        }
        .nav{
            display: none;
        }
        .nav-overlay{
            min-width: $mobile;
            width: 100%;
            max-width: $tablet;
            height: auto;
            background-color: $nav-bg;
            color: $text-light;
            padding: 5.556vw 0;
            position: absolute;
            top: 80px;
            left: 0;
            ul{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                gap: 24px;
                li{
                    .text-link{
                        color: $text-light;
                        text-decoration: none;
                    };
                    .text-link:visited{
                        color: $text-light;
                        text-decoration: none;
                    };
                    .text-link:hover{
                        color: $span-y;
                        text-decoration: underline;
                    };
                    .text-link:active{
                        color: $text-light;
                        text-decoration: none;
                    };
                };
            };
        }
        .hamburger-toggle{
            display: flex;
            .hamburger{
                width: 2rem;
                height: 2rem;
                cursor: pointer;
                display: flex;
                justify-content: space-around;
                flex-flow: column nowrap;
                z-index: 16;
                .burger{
                    width: 2rem;
                    height: 0.25rem;
                    border-radius: 10px;
                    background-color: white;
                    transform-origin: 1px;
                    transition: all 0.3s linear;
                }
                .line-1{
                    transform: rotate(45deg);
                }
                .line-2{
                    transform: translateX(100%);
                    opacity: 0;
                }
                .line-3{
                    transform: rotate(-45deg);
                }
            }
            .hamburger-open{
                display: flex;
                cursor: pointer;
                z-index: 16;
            }
        }
    }
}

//MOBILE
@media screen and (max-width: $mobile){
    .nav-container{
        min-width: $xs-mobile;
        max-width: $mobile;
        display: flex;
        justify-content: space-between;
        .logo{
            display: flex;
        }
        .nav{
            display: none;
        }
        .nav-overlay{
            min-width: $xs-mobile;
            width: 100%;
            max-width: $mobile;
            height: auto;
            background-color: $nav-bg;
            color: $text-light;
            padding: 5.556vw 0;
            position: absolute;
            top: 80px;
            left: 0;
            ul{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                gap: 24px;
                li{
                    .text-link{
                        color: $text-light;
                        text-decoration: none;
                    };
                    .text-link:visited{
                        color: $text-light;
                        text-decoration: none;
                    };
                    .text-link:hover{
                        color: $span-y;
                        text-decoration: underline;
                    };
                    .text-link:active{
                        color: $text-light;
                        text-decoration: none;
                    };
                };
            };
        }
        .hamburger-toggle{
            display: flex;
            .hamburger{
                width: 2rem;
                height: 2rem;
                cursor: pointer;
                display: flex;
                justify-content: space-around;
                flex-flow: column nowrap;
                z-index: 16;
                .burger{
                    width: 2rem;
                    height: 0.25rem;
                    border-radius: 10px;
                    background-color: white;
                    transform-origin: 1px;
                    transition: all 0.3s linear;
                }
                .line-1{
                    transform: rotate(45deg);
                }
                .line-2{
                    transform: translateX(100%);
                    opacity: 0;
                }
                .line-3{
                    transform: rotate(-45deg);
                }
            }
            .hamburger-open{
                display: flex;
                cursor: pointer;
                z-index: 16;
            }
        }
    }
}