@import '../../assets/sass/main.scss';


.nav-container{
    @include body-01;
    height: 80px;
    padding: 12px 80px;
    background-color: $nav-bg;
    color: $text-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        display: flex;
        align-items: center;
    }
    .nav{
        ul{
            display: flex;
            align-items: center;
            gap: 24px;
            li{
                .text-link{
                    color: $text-light;
                    text-decoration: none;
                };
                .text-link:visited{
                    color: $text-light;
                    text-decoration: none;
                };
                .text-link:hover{
                    text-decoration: underline;
                };
                .text-link:active{
                    color: $text-light;
                    text-decoration: none;
                };
            };
        };
    };
}





