@import "../../assets/sass/main.scss";

//TABLET
@media screen and (min-width: $mobile) and (max-width: $tablet){
    .aut-container {
        min-width: $mobile;
        max-width: $tablet;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        .aut-title {
            display: flex;
            justify-content: center;
            margin-bottom: 2.222vw;
        }
        .aut-wrapper{
            display: flex;
            position: unset;
            flex-flow: column nowrap;
            .aut-arrows{
                margin-top: 2.222vw;
                position: unset;
                .arrows-wrapper{
                    display: flex;
                    justify-content: space-around;
                    align-self: flex-end;
                    .prev-arrow{
                        transform: rotate(180deg);
                        cursor: pointer;
                    }
                    .prev-arrow:hover{
                        transform: rotate(180deg) scale(150%);
                    }
                    .next-arrow{
                        cursor: pointer;
                    }
                    .next-arrow:hover{
                        transform: scale(150%);
                    }
                }
            }
            .box-wrapper{
                width: 100%;
                height: auto;
                background-color: #fff;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                .aut-box {
                    width: 40%;
                    height: 250px;
                    background-color: $author-bg;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2.778vw;
                    .txt-wrapper {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 1.389vw;
                        img{
                            width: 128px;
                            height: 128px;
                            object-fit: contain;
                            margin-bottom: 1.389vw;
                        }
                        h3{
                            text-align: center;
                        }
                        p{
                            @include body-02;
                            color: $text-medium;
                            text-align: center;
                        }
                    }
                }
                .aut-box:hover {
                    background-color: $author-bg-hover;
                    cursor: pointer;
                }
                .hidden{
                    display: none;
                }
            }
        }
    }
}

//MOBILE
@media screen and (max-width: $mobile){
    .aut-container {
        min-width: $xs-mobile;
        max-width: $mobile;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        .aut-title {
            display: flex;
            justify-content: center;
            margin-bottom: 2.222vw;
        }
        .aut-wrapper{
            display: flex;
            position: unset;
            flex-flow: column nowrap;
            .aut-arrows{
                margin-top: 2.222vw;
                position: unset;
                .arrows-wrapper{
                    display: flex;
                    justify-content: space-around;
                    align-self: flex-end;
                    .prev-arrow{
                        transform: rotate(180deg);
                        cursor: pointer;
                    }
                    .prev-arrow:hover{
                        transform: rotate(180deg) scale(150%);
                    }
                    .next-arrow{
                        cursor: pointer;
                    }
                    .next-arrow:hover{
                        transform: scale(150%);
                    }
                }
            }
            .box-wrapper{
                width: 100%;
                height: auto;
                background-color: #fff;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                .aut-box {
                    width: 40%;
                    height: 250px;
                    background-color: $author-bg;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2.778vw;
                    .txt-wrapper {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 1.389vw;
                        img{
                            width: 128px;
                            height: 128px;
                            object-fit: contain;
                            margin-bottom: 1.389vw;
                        }
                        h3{
                            text-align: center;
                        }
                        p{
                            @include body-02;
                            color: $text-medium;
                            text-align: center;
                        }
                    }
                }
                .aut-box:hover {
                    background-color: $author-bg-hover;
                    cursor: pointer;
                }
                .hidden{
                    display: none;
                }
            }
        }
    }
}