@import '../../assets/sass/main.scss';

//DESKTOP MIN 1440PX
.logo-container{
    width: 100%;
    height: auto;
    .logo-wrapper{
        display: flex;
        flex-flow: row wrap;
        gap: 32px;
        justify-content: space-evenly;
        align-items: center;
        .logo-txt{
            display: flex;
            flex-direction: column;
            justify-content: left;
            p{
                @include body-02;
                margin: 0;
            }
            h4{
                color: $text-medium;
            }
        }
    }
}

//DESKTOP > XL-DESKTOP
@media screen and (min-width: $desktop) and (max-width: $xl-desktop){
    .logo-container{
        min-width: $desktop;
        width: 100%;
        max-width: $xl-desktop;
        height: auto;
    }
}

//TABLET > DESKTOP
@media screen and (min-width: $tablet) and (max-width: $desktop){
    .logo-container{
        min-width: $tablet;
        width: 100%;
        max-width: $desktop;
        height: auto;
    }
}

//TABLET
@media screen and (min-width: $mobile) and (max-width: $tablet){
    .logo-container{
        min-width: $mobile;
        width: 100%;
        max-width: $tablet;
        padding: 0.833vw 0;
    }
}

//MOBILE
@media screen and (max-width: $mobile){
    .logo-container{
        min-width: $xs-mobile;
        width: 100%;
        max-width: $mobile;
        padding: 0.833vw 0;
    }
}